* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.maincontainer {
  width: 100%;
  height: auto;
  background-color: rgb(40, 40, 43);
  display: flex;
  justify-content: center;
  align-items: center;
}
.maincontainer > div {
  width: 80%;
  height: inherit;
}
.heading {
  width: 100%;
  height: 4rem;
  margin-top: 1rem;
  display: flex;
  align-items: center;
}
.headingtow {
  width: 100%;
  height: 4rem;
  margin-top: 1rem;
  display: flex;
  align-items: center;
}
.headingthree {
  width: 100%;
  height: auto;
  margin-top: 1rem;
  display: flex;
  align-items: center;
}

.headingthree > p {
  color: #953553;
  font-weight: bold;
  font-size: 1.5rem;
  font-family: Arial, Helvetica, sans-serif;
  text-shadow: 1px 1px 0 #953553, 1px 1px 0 #953553, 2px 2px 0 #953553,
    7px 7px 6px rgba(0, 0, 0, 0.1), 7px 7px 1px rgba(0, 0, 0, 0.1),
    2px 2px 6px rgba(0, 0, 0, 0.1);
}

.heading > p {
  color: #953553;
  font-weight: bold;
  font-size: 2rem;
  line-height: 5rem;
  font-family: Arial, Helvetica, sans-serif;
  text-shadow: 1px 1px 0 #953553, 1px 1px 0 #953553, 2px 2px 0 #953553,
    7px 7px 6px rgba(0, 0, 0, 0.1), 7px 7px 1px rgba(0, 0, 0, 0.1),
    2px 2px 6px rgba(0, 0, 0, 0.1);
}
.textst {
  color: #953553;
  font-weight: bold;
  font-size: 1.5rem;
  line-height: 5rem;
  font-family: Arial, Helvetica, sans-serif;
  text-shadow: 1px 1px 0 #953553, 1px 1px 0 #953553, 2px 2px 0 #953553,
    7px 7px 6px rgba(0, 0, 0, 0.1), 7px 7px 1px rgba(0, 0, 0, 0.1),
    2px 2px 6px rgba(0, 0, 0, 0.1);
}
.para {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.para > p,
.headingtwo > P {
  color: rgb(255, 255, 255);
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-size: 1rem;
  letter-spacing: 1px;
  line-height: 2rem;
}

.commoncolor {
  color: #953553;
}
li {
  color: rgb(255, 255, 255);
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-size: 1rem;
  letter-spacing: 1px;
  line-height: 1.8rem;
}
/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .maincontainer {
    height: auto;
  }
  .maincontainer > div {
    width: 90%;
  }
  .heading > p {
    font-size: 1.5rem;
  }
  .headingthree > p {
    font-size: 1.5rem;
  }
  .para > p {
    font-size: 0.8rem;
  }
  .headingtow > p {
    font-size: 0.8rem;
  }
  li {
    font-size: 0.8rem;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) and (max-width: 1194px) {
  .maincontainer > div {
    width: 92%;
  }
  .heading > p {
    font-size: 1.5rem;
  }
  .headingthree > p {
    font-size: 1.5rem;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
}
