* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.spinner {
  border: 3px solid #e67e22;
  border-top-color: transparent;
  border-radius: 50%;
  width: 4rem;
  height: 4rem;
  animation: spin 1s ease-in-out infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg) scale(1);
  }
  25% {
    transform: rotate(180deg) scale(1.2);
  }
  50% {
    transform: rotate(360deg) scale(1);
  }
  75% {
    transform: rotate(540deg) scale(1.2);
  }
  100% {
    transform: rotate(720deg) scale(1);
  }
}


